{
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "plugins": ["react"],
    "rules": {
        "no-unused-vars": "warn",
        "no-undef": "warn",
        "no-useless-escape": "warn",
        "no-prototype-builtins": "warn",
        "no-case-declarations": "warn",
        "no-inner-declarations": "warn",
        "no-useless-catch": "warn",
        "no-extra-boolean-cast": "warn",
        "no-fallthrough": "warn",
        "react/prop-types": "off",
        "prettier/prettier": [
            "error",
            {
              "endOfLine": "auto"
            }
          ]
    }
}